body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.contenedor{
    perspective: 250px;
    width: 300px;
    height: 150px;
    position: relative;
}

.tarjeta{
    width: 50px;
    height: 100px;
    background-color: #1d1d01;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 125px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}

@keyframes Carrusel{
    from {
        transform: rotateY(360deg)
translateZ(100px);
        z-index: 10;
        opacity: 0.9;

    }
    50%{
         z-index: -10;
        }
    to{
        transform: rotateX(0deg)
translateZ(100px);
    
    }
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.contenedor{
    perspective: 250px;
    width: 300px;
    height: 150px;
    position: relative;
}

.tarjeta{
    width: 50px;
    height: 100px;
    background-color: #1d1d01;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 125px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}

@keyframes Carrusel{
    from {
        transform: rotateY(360deg)
translateZ(100px);
        z-index: 10;
        opacity: 0.9;

    }
    50%{
         z-index: -10;
        }
    to{
        transform: rotateX(0deg)
translateZ(100px);
    
    }
}

#imagen1{
    background-image:
    url(img/gatito1.jpg);
    background-size: cover;
    background-position:center;
    animation-delay: -2s;
}

#imagen2{
    background-image:
    url(img/gatito2.jpg);
    background-size: cover;
    background-position:center;
    animation-delay: -4s;
}

#imagen3{
    background-image:
    url(img/gatito3.jpg);
    background-size: cover;
    background-position:center;
    animation-delay: -6s;
}

#imagen4{
    background-image:
    url(img/gatito4.jpg);
    background-size: cover;
    background-position:center;
    animation-delay: -8s;
}

#imagen5{
    background-image:
    url(img/gatito5.jpeg);
    background-size: cover;
    background-position:center;
    animation-delay: -10s;
}

#imagen1,
#imagen2,
#imagen3,
#imagen4,
#imagen5:hover{
    box-shadow: 0px 0px 10px yellow;
}

.tarjeta h3{
    color: white;
    font-size: 5px;
    font-family: 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    background-color: #ff0000;
}
